#pp {
  width: 12em;
  float: right;
}

#head-div {
  overflow: hidden;
  background-color: #1B2A37;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

#right-div {
  display: inline;
  float: left;
  width: 50%;
  padding-left: 5em;
  padding-top: 2em;
}

#left-div {
  display: inline;
  float: left;
  width: 40%;
  text-align: center;
}

.head-txt {
  font-family: "Fredoka", sans-serif;
  color: white;
}
