#pp {
  width: 12em;
  float: right;
}

#head-div {
  overflow: hidden;
  background-color: #1B2A37;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

#right-div {
  display: inline;
  float: left;
  width: 50%;
  padding-left: 5em;
  padding-top: 2em;
}

#left-div {
  display: inline;
  float: left;
  width: 40%;
  text-align: center;
}

.head-txt {
  font-family: "Fredoka", sans-serif;
  color: white;
}

#main-left {
  float: left;
  width: 29.89%;
  background-color: #ADC4D7;
  overflow: hidden;
  height: 60em;
  border: 1px solid #000;
  border-right: none;
  overflow: visible;
}

.centre-txt {
  font-family: "Fredoka", sans-serif;
  text-align: center;
  margin: 1em;
}
p.centre-txt {
  font-size: 0.9em;
}

.para-txt {
  font-family: "Fredoka", sans-serif;
  font-size: 1em;
  margin: 1em;
}

ul.para-txt {
  list-style-type: square;
  margin: 1em;
}

li {
  border-radius: 20px;
  margin: 0.5em;
}

.main-right {
  display: inline;
  float: left;
  width: 70%;
  background-color: #DCC5C3;
  height: 60em;
  border: 1px solid #000;
  border-left: none;
  overflow: visible;
}

table.centre-txt {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  padding: 1em;
  border-radius: 2px;
  border: 1px solid black;
}

table:hover {
  transform: scale(1.01);
  background-color: #ddb4af;
}