<div class="navbar">
    <div class="logo">
        <img class="logo-img" src="/Images/weight-bar.png" alt="Logo">
    </div>
    <div class="nav">
        <ul class="nav-items">
            <li class="btn nav-item"><a href="/">Home</a></li>
            <li class="btn nav-item"><a href="/services">Services</a></li>
            <li class="btn nav-item"><a href="/about">About Us</a></li>
            <li class="btn nav-item"><a href="/contact">Contact</a></li>
            <li class="nav-icon" onclick="showSidebar()"><a href="#"><svg class="menu-svg"
                    xmlns="http://www.w3.org/2000/svg" height="3rem" viewBox="0 -960 960 960"
                    width="3rem">
                    <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
                </svg></a></li>
        </ul>
        <ul class="sidebar">
            <li><a href="#" onclick="closeSidebar()"><svg xmlns="http://www.w3.org/2000/svg" height="3rem"
                    viewBox="0 -960 960 960" width="3rem">
                    <path
                        d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                </svg>
            </a></li>
            <li class="nav-item text-center"><a href="/">Home</a></li>
            <li class="nav-item text-center"><a href="/services">Services</a></li>
            <li class="nav-item text-center"><a href="/about">About Us</a></li>
            <li class="nav-item text-center"><a href="/contact">Contact</a></li>
        </ul>
    </div>
</div>
