@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body{
    font-family: "Fredoka", sans-serif;
    color: #14213D;
}

h4 {
    color: #FCA311;
    font-size: x-large;
    font-weight: 600;
}

/* Main Container */

.main-container {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: auto auto auto;
}

/* Left Top Container */

#left-top-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #14213D;
    color: #FFFFFF;
}

#Contact-details ul {
    list-style: square;
}

/* Right Top Container */

#right-top-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-left: 7rem;
    color: #14213D;
    border-bottom: 3px solid #14213D;
}

#first-name {
    font-size: clamp(2rem,6vw,2.5rem);
}

#right-top-container h1{
    margin-top: 2rem;
    margin-bottom: 0.3em;
}

#right-top-container h4 {
    margin: 0;
}

/* Left Container */

#left-container {
    padding-top: 1rem;
    border-bottom: 3px solid #14213D;
}

#pp {
    width: 15rem;
    margin-left: 5rem;
}

/* Right Container */

#right-container {
    padding-left: 7rem;
    padding-right: 7rem;
    border-bottom: 3px solid #14213D;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#right-container h4 {
    text-align: center;
    margin: 0;
}

#right-container p {
    font-size: larger;
}

/* Left Bottom Container */

#left-bottom-container{
    padding: 0 1rem;
    padding-bottom: 3rem;
}

h4.Education{
    margin-left: 2rem;
    text-align: center;
}

table.Education{
    text-align: center;
    border-collapse: collapse;
}

table.Education td, table.Education th {
    border: 1px solid #14213D;
}

/* Right Bottom Container */

#right-bottom-container {
    background-color: #14213D;
    padding-left: 1rem;
}
